!!! 5
%html
	%head
		%title Predator Ipsum
		%link{:type => 'text/css', :rel => 'stylesheet', :href => 'css/app.css'}
	%body
		%h1 Predator Ipsum
		
		#main
			= yield
		
		%footer.app-footer
			%p Inspired by Arnold Ipsum. Written by Lee Ellam